/*creates variable*/

:root {
    --box1-bg-color: blue;
    --box2-text-color: yellow;
}

#box1 {
    width: 100px;
    height: 100px;
    border: 1px dotted black;
    padding: 25px;
    margin: 5px;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--box1-bg-color);
    color: var(--box2-text-color);
}

#box2 {
    width: 100px;
    height: 100px;
    border: 1px dotted black;
    padding: 10px;
    margin: 5px;
    text-align: center;
    box-sizing: border-box;
}

